#content{
    margin-bottom:20px;
}
.input_area input{
   display: inline-block;
   border:none;
}
.input_area #title,#detail, #date{
   border-bottom:#D3D4D8 2px solid;
   margin-right:15px;
}

.big{
    background-color: #f8f8f8;
    border-top: 2px white solid;
    border-bottom: 2px #E4E5DB solid;

}
.big h1{
    padding-top: 15px;
}
#content{
    padding: 0;

}
#left h1,h6 {
     text-align: right;
}
#left h1{
    border-right: #F6416C 2px solid;
    padding:10px;
    text-align: right;

}

#right{
    padding: 20px;
}
.red_btn{
    text-align: center center;
    background-color: #f8f8f8;
    height: 50px;
    width: 50px;
    color: white;
    border: 2px #F6416C solid;
    float: right;
   -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.red_btn:hover{
    background-color: #F6416C;
}
.redClicked{
    background-color: #92253F;
     border: #92253F 1px solid;


}
